.home-page {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2rem;

  h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #333;
    padding-bottom: 1rem;
    border-bottom: 1px solid #bebebe;
    text-align: center;
    font-weight: bold;
  }

  section {
    text-align: center;
    padding: 1rem;

    .MuiGrid-container {
      justify-content: center;
      gap: 1rem;
    }
  }

  .more {
    display: flex;
    justify-content: center;
    margin-top: 1rem;

    a {
      color: #1976d2;
      text-decoration: none;
      font-weight: bold;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
