*, *::before, *::after {
    box-sizing: border-box;
}


body {
    width: 100%;
}


main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #9398e5 0%, #c2c5f3 100%);
    color: Black;
}