.search-element {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .MuiTextField-root, .MuiAutocomplete-root {
    width: 100%;
  }

  .MuiOutlinedInput-root {
    background-color: #2b2b2b;
    color: #ffffff;
  }

  .MuiInputLabel-root {
    color: #ffffff;
  }

  .MuiOutlinedInput-notchedOutline {
    border-color: #444;
  }

  .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: #555;
  }

  .MuiAutocomplete-option {
    background-color: #2b2b2b;
    color: #ffffff;

    &[aria-selected="true"] {
      background-color: #555;
    }

    &[data-focus="true"] {
      background-color: #444;
    }
  }

  .MuiChip-root {
    background-color: #444;
    color: #ffffff;
  }

  .MuiAutocomplete-popupIndicator {
    color: #ffffff;
  }

  .MuiAutocomplete-noOptions {
    color: #ffffff;
  }

  .MuiAutocomplete-clearIndicator {
    color: #ffffff;
  }
}
